/* 기본 스타일 설정 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* 모든 요소에 box-sizing 적용 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

*, *::before, *::after {
    box-sizing: inherit; /* 모든 요소에 box-sizing 상속 */
}

/* 스크롤 내비게이션 스타일 */
.scroll-nav {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* 내비게이션 버튼 스타일 */
.nav-btn {
    margin: 0 10px;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-btn:hover {
    color: #007BFF;
}

/* 섹션 스타일 */
.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

/* 섹션 배경 스타일 */
.section-bg {
    width: 1680px;
    height: 1000px;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    color: white;
}

/* 헤딩 스타일 */
h2 {
    margin: 0;
    font-size: 36px;
}

/* 프로필 콘텐츠 스타일 */
.profile-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-content img {
    border-radius: 50%;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* 작은 화면용 여백 설정 */
@media (max-width: 600px) {
    .section {
        margin-bottom: 5vh;
    }
}

/* 큰 화면용 여백 설정 */
@media (min-width: 1200px) {
    .section {
        margin-bottom: 15vh;
    }
}

/* 책 페이지 애니메이션 스타일 */
#book {
    width: 800px; /* 책이 펼쳐졌을 때의 너비 */
    height: 600px; /* 책의 높이 */
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
}

.page {
    position: absolute;
    width: 50%; /* 각 페이지의 너비를 50%로 설정 */
    height: 100%;
    backface-visibility: hidden;
    transition: transform 1s;
}

#cover {
    z-index: 3;
    transform-origin: left;
    right: 0;
}

#leftPage {
    z-index: 2;
    transform: rotateY(180deg);
    transform-origin: 210% 50%;
    right: 105%;
}

#rightPage {
    z-index: 1;
    transform: rotateY(0);
    transform-origin: right;
    right: 0;
}

.open #cover {
    transform: rotateY(-180deg);
}

.open #leftPage {
    transform: rotateY(0);
}

.open #rightPage {
    transform: rotateY(0);
}
